@use "./base/index";
@import "./base/buttom";

.contact {
  background-color: index.$primary-bg;
  text-align: center;
  padding: 100px;
  h2 {
    color: index.$heading-color;
    margin: 10px 0;
  }
  h4 {
    color: index.$primary-color;
  }
  .field {
    margin-top: 50px;
    form {
      input {
        width: 500px;
        height: 40px;
        font-size: 16px;
      }
    }
    button {
      @include button-filled(index.$primary-color);
    }
  }
}

@media (max-width: 768px) {
  .contact {
    .field {
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        input {
          margin-bottom: 5px;
          text-align: center;
          width: 300px;
          height: 20px;
          font-size: 6px;
        }
      }
    }
  }
}
